@import 'tailwindcss';
@plugin "daisyui" {
	themes: dark --default, light;
}
@layer base {
	:root {
		font-family: ui-sans-serif,
      system-ui,
      -apple-system,
      sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	body {
		min-height: 100vh;
		margin: 0;
		overflow-x: hidden;
		background-color: var(--color-base-100);
		color: var(--color-base-content);
	}
}
